
body{
    background-color: orchid;
}

.card{
    width: 200px;
    height: 200px;
    background-color: pink;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 400px;
}
.btn{
    background-color: orange;
    font-family: 'Poppins', sans-serif;
}

.modal{
    background-color: white;
    width: 180px;
    margin-left: 410px;
    
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

 .btn-primary{
     background-color: purple;
     margin-left: 10px;
     font-family: 'Poppins', sans-serif;
}